/* HEADER START */
body {
    background-color: #b4eeffb6;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 70px;
    position: relative;
}

.header {
  background-color: #ffffff8a;
  display: flex;
  align-items: center;
  color: #525252;
  position: fixed;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%; 
  top: 0; /* Set header to the top of the page */
  z-index: 1000; /* Ensure the header is above other content */
}


.header-text {
  margin: 0 auto;
  width: 100%; 
  max-width: 800px; /* Limit the width of the header text */
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.nav {
    text-align: center;
}

.nav a {
    color: rgb(82, 82, 82);
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #ffffff;
}

.nav a:hover {
    background-color: #adadad;
}

/* HEADER END */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.member {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.member:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.member img {
  width: 100%;
  height: auto;
}

.member-info {
  padding: 20px;
  text-align: center;
}

.member-info h2 {
  margin-top: 0;
}

.member-info p {
  margin-bottom: 10px;
}

.member-info .bio {
  font-size: 12px;
}

.member-info .major {
  font-size: 12px;
}

.member-info a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

.member-info a.email {
  color: #0077b5;
}

.member-info a.linkedin {
  color: #0077b5;
}

/* FOOTER START */
.footer {
  background-color: #ffffff90;
  color: #525252;
  text-align: center;
  padding: 10px;
}
/* FOOTER END */