body {
    background-color: #b4eeffb6;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Add padding-top to body to account for fixed header */
}

.header {
    background-color: #ffffff8a;
    color: #525252;
    padding: 20px;
    align-items: center;
    text-align: center;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-text {
    margin: 0 auto;
    width: 100%; 
    max-width: 800px; /* Limit the width of the header text */
}

.title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.nav {
    text-align: center;
}

.nav a {
    color: rgb(82, 82, 82);
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 9px;
    background-color: #ffffff;
}

.nav a:hover {
    background-color: #adadad;
}
/* HEADER END */

.container {
    padding: 20px;
    position: relative;
    width: 45%;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.5s; /* Add transition for smooth hover effect */
}

.container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.container small {
    color: #666;
}

.container p {
    color: #444;
    line-height: 1.6;
    margin-top: 10px;
}

.left-container {
    float: left;
    clear: both;
    margin-right: 5%;
}

.right-container {
    float: right;
    clear: both;
    margin-left: 5%;
}

.container:nth-child(odd) {
    clear: both;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 180%;
    background: #fff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards infinite;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    180% {
        height: 180%
    }
}

.container:hover {
    transform: translateY(-15px); /* Move container up on hover */
}

/* FOOTER START 
.footer {
    background-color: #ffffff90;
    color: #525252;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
 FOOTER END */