/* HEADER START */
body {
    background-color: #b4eeffb6;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Add padding-top to body to account for fixed header */
}

.header {
    background-color: #ffffff8a;
<<<<<<< HEAD
=======
    color: #525252;
    padding: 10px 0px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 1;
    z-index: 9999;
}

nav {
>>>>>>> 13ec8daa3d5d022ca002b242ba32b168b053fadd
    display: flex;
    align-items: center;
    color: #525252;
    position: fixed;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%; 
    top: 0; /* Set header to the top of the page */
    z-index: 1000; /* Ensure the header is above other content */
}

.header-text {
    margin: 0 auto;
    width: 100%; 
    max-width: 800px; /* Limit the width of the header text */
}

.title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.nav {
    text-align: center;
}

.nav a {
    color: rgb(82, 82, 82);
    text-decoration: none;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 9px;
    background-color: #ffffff;
}

.nav a:hover {
    background-color: #adadad;
}
/* HEADER END */

<<<<<<< HEAD

=======
<<<<<<< HEAD
/* FOOTER START */
.footer {
=======
>>>>>>> 1855f9f42b63321390e22ef7fdbd931b9b4a06ff
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container {
    padding: 20px;
    position: relative;
    width: 45%; /* Adjust the width to your preference */
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.container small {
    color: #666;
}

.container p {
    color: #444;
    line-height: 1.6;
    margin-top: 10px;
}

.left-container {
    float: left;
    clear: both;
    margin-right: 5%;
}

.right-container {
    float: right;
    clear: both;
    margin-left: 5%;
}

/* Clear floats for every second container */
.container:nth-child(odd) {
    clear: both;
}

footer {
>>>>>>> 13ec8daa3d5d022ca002b242ba32b168b053fadd
    background-color: #ffffff90;
    color: #525252;
    text-align: center;
    padding: 10px;
}
/* FOOTER END */