/* HEADER START */
body {
    background-color: #b4eeffb6;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
    padding-top: 50px;
    position: relative;
}

.header {
  background-color: #ffffff8a;
  display: flex;
  align-items: center;
  color: #525252;
  position: fixed;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%; 
  top: 0; 
  z-index: 1000; 
}


.header-text {
  margin: 0 auto;
  width: 100%; 
  max-width: 800px; 
}

.title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
}

.nav {
    text-align: center;
}

.nav a {
  color: rgba(67, 67, 67, 0.682); 
  text-decoration: none;
  margin-right: 10px;
  padding: 8px 15px;
  border: 2px solid #b4eeff9b; 
  border-radius: 9px;
  background-color: #b4eeff60
}

.nav a:hover {
  background-color: #ffffff; 
}
/* HEADER END */

.container {
    padding: 20px;
    position: relative;
    width: 45%;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 3px 10px 15px #ffffff80;
    margin-bottom: 20px;
    transition: transform 0.5s; 
}

.container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.container small {
    color: #666;
}

.container p {
    color: #444;
    line-height: 1.6;
    margin-top: 10px;
}

.left-container {
    float: left;
    clear: both;
    margin-right: 5%;
}

.right-container {
    float: right;
    clear: both;
    margin-left: 5%;
}

.container:nth-child(odd) {
    clear: both;
}

.timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 1100%;
    background: #fff;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 15s linear forwards infinite;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    180% {
        height: 180%
    }
}

.container:hover {
    transform: translateY(-15px); 
}

/* FOOTER START */ 
.footer {
    background-color: #ffffff90;
    color: #525252;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
}
 /* FOOTER END */

 /* ice cube attempt */
 .wrapper {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
 }

.ice-cube {
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: -1;
    background-color: rgba(255, 255, 255, 0.47);
    border: 6px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.cube {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.47);
    border: 6px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    animation: animate 10s linear infinite;
    z-index: -1;
}

@keyframes animate {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(calc(500vh + 60px));
    }
}


.content {
    position: relative;
    z-index: 1;
}
/* ice cube attempt */

.wrapper{
    overflow: hidden;
    margin-top: 20px;
    max-height: calc(100vh - 800px);
    overflow-y: auto;
  }